<form action="{% url 'sorgu:vote' sual.id %}" method="post">
{% csrf_token %}
<fieldset>
    <legend><h1>{{ sual.sual_text }}</h1></legend>
    {% if error_message %}<p><strong>{{ error_message }}</strong></p>{% endif %}

    {% for cavab57 in sual.cavab_set.all %}
        <input type="radio" name="cavab57" id="cavab57{{ forloop.counter }}" value="{{ cavab57.id }}">
        <label for="cavab57{{ forloop.counter }}">{{ cavab57.cavab_text }}</label><br>
    {% endfor %}
</fieldset>
<input type="submit" value="Vote">
</form>